In [3]:
import pandas as pd

df = pd.read_csv("tested.csv")


df_copy = df.copy()

In [4]:
print(df.isnull().sum())

# Load dataset
df = pd.read_csv("tested.csv")

# Create a copy for preprocessing
df_copy = df.copy()

# Handle missing values without inplace
df_copy['Age'] = df_copy['Age'].fillna(df_copy['Age'].median())
df_copy['Fare'] = df_copy['Fare'].fillna(df_copy['Fare'].median())
df_copy['Embarked'] = df_copy['Embarked'].fillna(df_copy['Embarked'].mode()[0])

# Drop Cabin column safely
df_copy = df_copy.drop('Cabin', axis=1)

# Encode categorical variables
df_copy['Sex'] = df_copy['Sex'].map({'male': 0, 'female': 1})
df_copy = pd.get_dummies(df_copy, columns=['Embarked'], drop_first=True)

# Optional: drop unnecessary columns
df_copy = df_copy.drop(['Name', 'Ticket', 'PassengerId'], axis=1)

# Check
print(df_copy.isnull().sum())
df_copy.head()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64
Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked_Q    0
Embarked_S    0
dtype: int64

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_Q  Embarked_S
0         0       3    0  34.5      0      0   7.8292        True       False
1         1       3    1  47.0      1      0   7.0000       False        True
2         0       2    0  62.0      0      0   9.6875        True       False
3         0       3    0  27.0      0      0   8.6625       False        True
4         1       3    1  22.0      1      1  12.2875       False        True

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix



X = df_copy.drop('Survived', axis=1)
y = df_copy['Survived']

from sklearn.model_selection import cross_val_score

nb_model = GaussianNB()
scores = cross_val_score(nb_model, X, y, cv=5)  # 5-fold cross-validation
print("Cross-validation scores:", scores)
print("Average accuracy:", scores.mean())

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

# Gaussian Naive Bayes مناسب للبيانات الرقمية
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)

y_pred = nb_model.predict(X_test)

# دقة النموذج
print("Accuracy:", accuracy_score(y_test, y_pred))

# تقرير مفصل
print(classification_report(y_test, y_pred))

# مصفوفة الالتباس
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Cross-validation scores: [1. 1. 1. 1. 1.]
Average accuracy: 1.0
Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        85
           1       1.00      1.00      1.00        41

    accuracy                           1.00       126
   macro avg       1.00      1.00      1.00       126
weighted avg       1.00      1.00      1.00       126

Confusion Matrix:
 [[85  0]
 [ 0 41]]